/*   變數   */
// 字體粗、細 變數
$font_bold: 900;
$font_regular: 400;

// 顏色
$primary: #198754;
$secondary: #F8F9FA;
$thirdColor: #DC3545;


// 文字大小
$font_s_1: 16px;
$font_s: $font_s_1 * 0.75;     //12
$font_m: $font_s_1 * 0.875;    //14
$font_s_2: $font_s_1 * 1.5;    //24

